#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        rightclick {
            bindings = <&mkp MB2>;
            key-positions = <18 19>;
            layers = <0 4>;
        };

        f10 {
            bindings = <&kp F10>;
            key-positions = <12 13>;
            timeout-ms = <70>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <11 12 13>;
            timeout-ms = <80>;
        };

        winl {
            bindings = <&kp LG(LEFT_ARROW)>;
            key-positions = <18 41>;
        };

        winr {
            bindings = <&kp LG(RIGHT)>;
            key-positions = <41 20>;
        };

        winu {
            bindings = <&kp LG(UP_ARROW)>;
            key-positions = <41 7>;
        };

        wind {
            bindings = <&kp LG(DOWN_ARROW)>;
            key-positions = <41 19>;
        };

        scroll {
            bindings = <&tog 5>;
            key-positions = <18 7>;
            layers = <0 4>;
        };

        forward {
            bindings = <&kp LA(RIGHT)>;
            key-positions = <18 20>;
            layers = <0 4>;
            timeout-ms = <70>;
        };

        back {
            bindings = <&kp LA(LEFT)>;
            key-positions = <18 19 20>;
            layers = <0 4>;
            timeout-ms = <100>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <30 31>;
            timeout-ms = <70>;
            layers = <0>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <30 31 32>;
            timeout-ms = <100>;
            layers = <0>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <30 32>;
            timeout-ms = <80>;
            layers = <0>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        winr: winr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(C)>,
                <&macro_wait_time 500>,
                <&kp LG(R)>,
                <&macro_wait_time 1000>,
                <&kp LC(V)>,
                <&macro_wait_time 600>,
                <&kp ENTER>;

            label = "WINR";
        };

        pass1: pass1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp X &kt LEFT_SHIFT &kp Z &kp G &kp Z &kp F &kp G &kp N7 &kt LEFT_SHIFT>,
                <&macro_wait_time 50>,
                <&kp NUMBER_1 &kt LEFT_SHIFT>;

            label = "PASS1";
        };

        pass2: pass2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp Z &kp G &kp Z &kp F &kp G>;
            label = "PASS2";
        };

        id: id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp T &kp A &kp K &kp A &kp N &kp O>;
            label = "ID";
        };

        break: break {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kt LCTRL>,
                <&macro_wait_time 50>,
                <&kt LEFT_ALT>,
                <&macro_wait_time 50>,
                <&kp PAUSE_BREAK &kt LCTRL &kt LEFT_ALT>;

            label = "BREAK";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        minusunder: minusunder {
            compatible = "zmk,behavior-tap-dance";
            label = "MINUSUNDER";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;

            tapping-term-ms = <230>;
        };

        hkakko: hkakko {
            compatible = "zmk,behavior-tap-dance";
            label = "HKAKKO";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&kp RIGHT_BRACE>;

            tapping-term-ms = <250>;
        };

        ekakko: ekakko {
            compatible = "zmk,behavior-tap-dance";
            label = "EKAKKO";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp TILDE2>;

            tapping-term-ms = <250>;
        };

        benri: benri {
            compatible = "zmk,behavior-tap-dance";
            label = "BENRI";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N))>, <&winr>, <&kp LS(LG(S))>;

            tapping-term-ms = <350>;
        };

        hatenasura: hatenasura {
            compatible = "zmk,behavior-tap-dance";
            label = "HATENASURA";
            #binding-cells = <0>;
            bindings = <&kp QUESTION>, <&kp SLASH>;
        };

        excel: excel {
            compatible = "zmk,behavior-tap-dance";
            label = "EXCEL";
            #binding-cells = <0>;
            bindings = <&lt 6 LC(SEMICOLON)>, <&kp LC(SQT)>;
        };

        gravetiru: gravetiru {
            compatible = "zmk,behavior-tap-dance";
            label = "GRAVETIRU";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp PLUS>;

            tapping-term-ms = <250>;
        };

        imeonoff: imeonoff {
            compatible = "zmk,behavior-tap-dance";
            label = "IMEONOFF";
            #binding-cells = <0>;
            bindings = <&lt 6 LANG1>, <&kp LANG2>;
        };

        ime_winr: ime_winr {
            compatible = "zmk,behavior-tap-dance";
            label = "IME_WINR";
            #binding-cells = <0>;
            bindings = <&mt LCTRL F13>, <&kp LG(R)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp W         &kp E         &kp R               &kp T                                         &kp Y        &kp U     &kp I        &kp O                  &kp P
&kp A                 &kp S         &mt LCTRL D   &lt 3 F             &kp G        &kp LS(CAPS)      &benri         &kp H        &mkp MB1  &mt LCTRL K  &kp L                  &minusunder
&kp Z                 &kp X         &kp C         &kp V               &kp B        &imeonoff         &lt 3 J        &kp N        &kp M     &kp COMMA    &mt LEFT_SHIFT PERIOD  &kp SLASH
&mt LA(LCTRL) ESCAPE  &kp LEFT_ALT  &kp LEFT_GUI  &mt LEFT_SHIFT TAB  &lt 2 SPACE  &ime_winr         &kp BACKSPACE  &lt 3 ENTER                                                &lt 1 DELETE
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_DOWN SCRL_UP>;
        };

        FUNCTION {
            bindings = <
&kp ESC  &kp F7  &kp F8  &kp F9  &kp F11                      &trans  &trans  &trans  &trans  &trans
&trans   &kp F4  &kp F5  &kp F6  &kp F12  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans   &kp F1  &kp F2  &kp F3  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans  &trans  &trans  &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&sensor_rotate_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        NUM {
            bindings = <
&kp EXCLAMATION    &kp LEFT_BRACKET  &kp HASH      &kp DOLLAR      &kp PERCENT                                              &kp EQUAL      &kp CARET     &kp DOUBLE_QUOTES  &hkakko       &ekakko
&kp NUMBER_1       &kp NUMBER_2      &kp NUMBER_3  &kp NUMBER_4    &kp N5       &trans             &kp LS(INTERNATIONAL_3)  &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8       &kp NUMBER_9  &kp NUMBER_0
&kp RIGHT_BRACKET  &kp NUHS          &kp COLON     &kp UNDERSCORE  &kp SQT      &kp SEMICOLON      &kp INTERNATIONAL_3      &kp AMPERSAND  &kp AT_SIGN   &trans             &trans        &hatenasura
&trans             &trans            &trans        &trans          &trans       &trans             &trans                   &lt 7 ENTER                                                   &gravetiru
            >;
        };

        ARROW {
            bindings = <
&kp C_VOLUME_UP     &trans  &trans  &trans                      &id                                              &kp PG_UP      &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT))  &break
&kp C_VOLUME_DOWN   &trans  &trans  &trans                      &trans     &trans                 &kp LG(TAB)    &kp PAGE_DOWN  &kp LEFT                &kp DOWN      &kp RIGHT          &trans
&pass1              &pass2  &trans  &trans                      &trans     &excel                 &kp LC(LG(D))  &trans         &kp HOME                &kp LS(HOME)  &kp END            &trans
&kp LA(LC(DELETE))  &trans  &trans  &mt LEFT_SHIFT LC(LS(TAB))  &kp SPACE  &mt LCTRL LC(TAB)      &trans         &trans                                                                  &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &kp RS(RCTRL)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &tog 5  &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans         &trans  &trans
&trans  &trans  &trans  &trans  &to 0   &trans      &trans  &tog 5                                 &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            bindings = <
&kp LS(Q)             &kp LS(W)     &kp LS(E)     &kp LS(R)           &kp LS(T)                                      &kp LS(Y)    &kp LS(U)  &kp LS(I)      &kp LS(O)    &kp LS(P)
&kp LS(A)             &kp LS(S)     &kp LS(D)     &kp LS(F)           &kp LS(G)    &kp LS(CAPS)       &kp MINUS      &kp LS(H)    &mkp MB1   &kp LS(K)      &kp LS(L)    &minusunder
&kp LS(Z)             &kp LS(X)     &kp LS(C)     &kp LS(V)           &kp LS(B)    &imeonoff          &kp LS(J)      &kp LS(N)    &kp LS(M)  &kp LS(COMMA)  &kp LS(DOT)  &kp SLASH
&mt LA(LCTRL) ESCAPE  &kp LEFT_ALT  &kp LEFT_GUI  &mt LEFT_SHIFT TAB  &lt 2 SPACE  &mt LCTRL F13      &kp BACKSPACE  &lt 3 ENTER                                         &lt 1 DELETE
            >;

            sensor-bindings = <&mouse_wheel_scroll SCRL_DOWN SCRL_UP>;
        };
    };
};
